In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
client_train = pd.read_csv('client_train.csv')
invoice_train = pd.read_csv('invoice_train.csv')
client_test = pd.read_csv('client_test.csv')
invoice_test = pd.read_csv('invoice_test.csv')

C:\Users\USER\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
client_train.head()

   disrict          client_id  client_catg  region creation_date  target
0       60     train_Client_0           11     101    31/12/1994     0.0
1       69     train_Client_1           11     107    29/05/2002     0.0
2       62    train_Client_10           11     301    13/03/1986     0.0
3       69   train_Client_100           11     105    11/07/1996     0.0
4       62  train_Client_1000           11     303    14/10/2014     0.0

In [4]:
invoice_train.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667,0,203,8,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667,0,203,6,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667,0,203,8,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667,0,207,8,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667,0,207,9,1,572,0,0,0,15066,15638,12,ELEC

In [5]:
client_train['creation_date'] = pd.to_datetime(client_train['creation_date'])
client_test['creation_date'] = pd.to_datetime(client_test['creation_date'])

client_train['cday'] = client_train['creation_date'].apply(lambda x: x.day)
client_train['cmonth'] = client_train['creation_date'].apply(lambda x: x.month)
client_train['cyear'] = client_train['creation_date'].apply(lambda x: x.year)

client_test['cday'] = client_test['creation_date'].apply(lambda x: x.day)
client_test['cmonth'] = client_test['creation_date'].apply(lambda x: x.month)
client_test['cyear'] = client_test['creation_date'].apply(lambda x: x.year)

In [6]:
client_train.drop('creation_date',axis=1,inplace=True)
client_test.drop('creation_date',axis=1,inplace=True)

In [7]:
invoice_train.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667,0,203,8,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667,0,203,6,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667,0,203,8,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667,0,207,8,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667,0,207,9,1,572,0,0,0,15066,15638,12,ELEC

In [8]:
res = {'A':10}
invoice_train['counter_statue'] = invoice_train['counter_statue'].replace(res)

In [11]:
invoice_train.counter_type.value_counts()

ELEC    3079406
GAZ     1397343
Name: counter_type, dtype: int64

In [10]:
invoice_train['counter_statue'] = invoice_train['counter_statue'].astype('int')
invoice_test['counter_statue'] = invoice_test['counter_statue'].astype('int')

In [12]:
des = {'ELEC':1,'GAZ':2}
invoice_train['counter_type'] = invoice_train['counter_type'].map(des)
invoice_test['counter_type'] = invoice_test['counter_type'].map(des)

In [14]:
invoice_train['tconsumption'] = invoice_train['consommation_level_1'] + invoice_train['consommation_level_2'] + invoice_train['consommation_level_3'] + invoice_train['consommation_level_4']

invoice_test['tconsumption'] = invoice_test['consommation_level_1'] + invoice_test['consommation_level_2'] + invoice_test['consommation_level_3'] + invoice_test['consommation_level_4']

In [15]:
invoice_train.drop(['consommation_level_1','consommation_level_2','consommation_level_3','consommation_level_4'],
                   axis=1,inplace=True)

invoice_test.drop(['consommation_level_1','consommation_level_2','consommation_level_3','consommation_level_4'],
                   axis=1,inplace=True)

In [16]:
invoice_train.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,old_index,new_index,months_number,counter_type,tconsumption
0,train_Client_0,2014-03-24,11,1335667,0,203,8,1,14302,14384,4,1,82
1,train_Client_0,2013-03-29,11,1335667,0,203,6,1,12294,13678,4,1,1384
2,train_Client_0,2015-03-23,11,1335667,0,203,8,1,14624,14747,4,1,123
3,train_Client_0,2015-07-13,11,1335667,0,207,8,1,14747,14849,4,1,102
4,train_Client_0,2016-11-17,11,1335667,0,207,9,1,15066,15638,12,1,572

In [17]:
invoice_train.dtypes

client_id              object
invoice_date           object
tarif_type              int64
counter_number          int64
counter_statue          int32
counter_code            int64
reading_remarque        int64
counter_coefficient     int64
old_index               int64
new_index               int64
months_number           int64
counter_type            int64
tconsumption            int64
dtype: object

In [18]:
invoice_train['invoice_date'] = pd.to_datetime(invoice_train['invoice_date'])
invoice_test['invoice_date'] = pd.to_datetime(invoice_test['invoice_date'])

invoice_train['iday'] = invoice_train['invoice_date'].apply(lambda x: x.day)
invoice_train['imonth'] = invoice_train['invoice_date'].apply(lambda x: x.month)
invoice_train['iyear'] = invoice_train['invoice_date'].apply(lambda x: x.year)

invoice_test['iday'] = invoice_test['invoice_date'].apply(lambda x: x.day)
invoice_test['imonth'] = invoice_test['invoice_date'].apply(lambda x: x.month)
invoice_test['iyear'] = invoice_test['invoice_date'].apply(lambda x: x.year)

In [19]:
invoice_train.drop('invoice_date',axis=1,inplace=True)
invoice_test.drop('invoice_date',axis=1,inplace=True)

In [20]:
invoice_train.head()

,client_id,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,old_index,new_index,months_number,counter_type,tconsumption,iday,imonth,iyear
0,train_Client_0,11,1335667,0,203,8,1,14302,14384,4,1,82,24,3,2014
1,train_Client_0,11,1335667,0,203,6,1,12294,13678,4,1,1384,29,3,2013
2,train_Client_0,11,1335667,0,203,8,1,14624,14747,4,1,123,23,3,2015
3,train_Client_0,11,1335667,0,207,8,1,14747,14849,4,1,102,13,7,2015
4,train_Client_0,11,1335667,0,207,9,1,15066,15638,12,1,572,17,11,2016

In [21]:
invoice_train.dtypes

client_id              object
tarif_type              int64
counter_number          int64
counter_statue          int32
counter_code            int64
reading_remarque        int64
counter_coefficient     int64
old_index               int64
new_index               int64
months_number           int64
counter_type            int64
tconsumption            int64
iday                    int64
imonth                  int64
iyear                   int64
dtype: object

In [22]:
ninv_train = invoice_train.groupby('client_id').mean()

In [23]:
ninv_test = invoice_test.groupby('client_id').mean()

In [24]:
ninv_train = ninv_train.reset_index()
ninv_test = ninv_test.reset_index()

In [25]:
ninv_train.head()

,client_id,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,old_index,new_index,months_number,counter_type,tconsumption,iday,imonth,iyear
0,train_Client_0,11.0,1335667.0,0.0,203.685714,6.971429,1.0,9444.542857,9807.514286,4.628571,1.0,362.971429,21.228571,6.685714,2011.142857
1,train_Client_1,11.0,678902.0,0.0,203.000000,7.216216,1.0,14330.756757,14888.297297,4.324324,1.0,557.540541,14.594595,5.135135,2011.837838
2,train_Client_10,11.0,572765.0,0.0,203.222222,7.055556,1.0,32873.000000,33709.500000,6.444444,1.0,836.500000,12.333333,6.611111,2010.944444
3,train_Client_100,11.0,2078.0,0.0,413.000000,6.150000,1.0,94.150000,95.350000,4.200000,1.0,1.200000,16.350000,5.550000,2008.600000
4,train_Client_1000,11.0,19575.0,0.0,207.000000,8.857143,1.0,6900.428571,7823.071429,3.714286,1.0,922.642857,8.071429,7.571429,2016.857143

In [26]:
ninv_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135493 entries, 0 to 135492
Data columns (total 15 columns):
client_id              135493 non-null object
tarif_type             135493 non-null float64
counter_number         135493 non-null float64
counter_statue         135493 non-null float64
counter_code           135493 non-null float64
reading_remarque       135493 non-null float64
counter_coefficient    135493 non-null float64
old_index              135493 non-null float64
new_index              135493 non-null float64
months_number          135493 non-null float64
counter_type           135493 non-null float64
tconsumption           135493 non-null float64
iday                   135493 non-null float64
imonth                 135493 non-null float64
iyear                  135493 non-null float64
dtypes: float64(14), object(1)
memory usage: 15.5+ MB

In [27]:
invoice_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 15 columns):
client_id              object
tarif_type             int64
counter_number         int64
counter_statue         int32
counter_code           int64
reading_remarque       int64
counter_coefficient    int64
old_index              int64
new_index              int64
months_number          int64
counter_type           int64
tconsumption           int64
iday                   int64
imonth                 int64
iyear                  int64
dtypes: int32(1), int64(13), object(1)
memory usage: 495.2+ MB

In [261]:
candi_train = pd.merge(ninv_train,client_train,on='client_id',how='outer')
candi_test = pd.merge(ninv_test,client_test,on='client_id',how='outer')

In [262]:
candi_train.head()

,client_id,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,old_index,new_index,months_number,counter_type,tconsumption,iday,imonth,iyear,disrict,client_catg,region,target,cday,cmonth,cyear
0,train_Client_0,11.0,1335667.0,0.0,203.685714,6.971429,1.0,9444.542857,9807.514286,4.628571,1.0,362.971429,21.228571,6.685714,2011.142857,60,11,101,0.0,31,12,1994
1,train_Client_1,11.0,678902.0,0.0,203.000000,7.216216,1.0,14330.756757,14888.297297,4.324324,1.0,557.540541,14.594595,5.135135,2011.837838,69,11,107,0.0,29,5,2002
2,train_Client_10,11.0,572765.0,0.0,203.222222,7.055556,1.0,32873.000000,33709.500000,6.444444,1.0,836.500000,12.333333,6.611111,2010.944444,62,11,301,0.0,13,3,1986
3,train_Client_100,11.0,2078.0,0.0,413.000000,6.150000,1.0,94.150000,95.350000,4.200000,1.0,1.200000,16.350000,5.550000,2008.600000,69,11,105,0.0,7,11,1996
4,train_Client_1000,11.0,19575.0,0.0,207.000000,8.857143,1.0,6900.428571,7823.071429,3.714286,1.0,922.642857,8.071429,7.571429,2016.857143,62,11,303,0.0,14,10,2014

In [263]:
candi_train['value_day'] = abs(candi_train['iday']-candi_train['cday'])
candi_train['value_month'] = abs(candi_train['imonth']-candi_train['cmonth'])
candi_train['value_year'] = abs(candi_train['iyear']-candi_train['cyear'])

candi_test['value_day'] = abs(candi_test['iday']-candi_test['cday'])
candi_test['value_month'] = abs(candi_test['imonth']-candi_test['cmonth'])
candi_test['value_year'] = abs(candi_test['iyear']-candi_test['cyear'])

In [264]:
candi_train['tcoef'] = candi_train['tarif_type']/candi_train['counter_coefficient']
candi_train['tread'] = candi_train['tarif_type']/candi_train['reading_remarque']
candi_train['ttype'] = candi_train['tarif_type']/candi_train['counter_type']
candi_train['concli'] = candi_train['tconsumption']/candi_train['client_catg']
candi_train['tcli'] = candi_train['tarif_type']/candi_train['client_catg']
candi_train['indiff'] = abs(candi_train['new_index'] - candi_train['old_index'])

candi_test['tcoef'] = candi_test['tarif_type']/candi_test['counter_coefficient']
candi_test['tread'] = candi_test['tarif_type']/candi_test['reading_remarque']
candi_test['ttype'] = candi_test['tarif_type']/candi_test['counter_type']
candi_test['concli'] = candi_test['tconsumption']/candi_test['client_catg']
candi_test['tcli'] = candi_test['tarif_type']/candi_test['client_catg']
candi_test['indiff'] = abs(candi_train['new_index'] - candi_test['old_index'])

In [265]:
candi_train.head()

,client_id,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,old_index,new_index,months_number,counter_type,tconsumption,iday,imonth,iyear,disrict,client_catg,region,target,cday,cmonth,cyear,value_day,value_month,value_year,tcoef,tread,ttype,concli,tcli,indiff
0,train_Client_0,11.0,1335667.0,0.0,203.685714,6.971429,1.0,9444.542857,9807.514286,4.628571,1.0,362.971429,21.228571,6.685714,2011.142857,60,11,101,0.0,31,12,1994,9.771429,5.314286,17.142857,11.0,1.577869,11.0,32.997403,1.0,362.971429
1,train_Client_1,11.0,678902.0,0.0,203.000000,7.216216,1.0,14330.756757,14888.297297,4.324324,1.0,557.540541,14.594595,5.135135,2011.837838,69,11,107,0.0,29,5,2002,14.405405,0.135135,9.837838,11.0,1.524345,11.0,50.685504,1.0,557.540541
2,train_Client_10,11.0,572765.0,0.0,203.222222,7.055556,1.0,32873.000000,33709.500000,6.444444,1.0,836.500000,12.333333,6.611111,2010.944444,62,11,301,0.0,13,3,1986,0.666667,3.611111,24.944444,11.0,1.559055,11.0,76.045455,1.0,836.500000
3,train_Client_100,11.0,2078.0,0.0,413.000000,6.150000,1.0,94.150000,95.350000,4.200000,1.0,1.200000,16.350000,5.550000,2008.600000,69,11,105,0.0,7,11,1996,9.350000,5.450000,12.600000,11.0,1.788618,11.0,0.109091,1.0,1.200000
4,train_Client_1000,11.0,19575.0,0.0,207.000000,8.857143,1.0,6900.428571,7823.071429,3.714286,1.0,922.642857,8.071429,7.571429,2016.857143,62,11,303,0.0,14,10,2014,5.928571,2.428571,2.857143,11.0,1.241935,11.0,83.876623,1.0,922.642857

In [266]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [267]:
corr = candi_train.corr()
corr.abs()

,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,old_index,new_index,months_number,counter_type,tconsumption,iday,imonth,iyear,disrict,client_catg,region,target,cday,cmonth,cyear,value_day,value_month,value_year,tcoef,tread,ttype,concli,tcli,indiff
tarif_type,1.000000,0.147802,0.002374,0.625390,0.015120,0.006118,0.050776,0.052514,0.018767,0.995818,0.095235,0.034202,0.023232,0.092891,0.150600,0.013977,0.112253,0.054411,0.005001,0.015431,0.017553,0.000156,0.016973,0.070088,0.999777,0.963754,0.989035,0.098889,0.975679,0.027612
counter_number,0.147802,1.000000,0.000512,0.040217,0.079059,0.001381,0.084099,0.083078,0.001905,0.148446,0.020050,0.008787,0.019831,0.210224,0.016110,0.007702,0.048258,0.018917,0.022186,0.029560,0.226908,0.002312,0.024683,0.168546,0.147692,0.163100,0.148116,0.021978,0.142955,0.009769
counter_statue,0.002374,0.000512,1.000000,0.005689,0.353381,0.060954,0.001459,0.001408,0.000755,0.002390,0.001189,0.005371,0.007439,0.009112,0.002843,0.000314,0.002749,0.000665,0.000786,0.002926,0.004737,0.001048,0.007398,0.001051,0.005916,0.006220,0.002376,0.001316,0.002270,0.000106
counter_code,0.625390,0.040217,0.005689,1.000000,0.041611,0.021782,0.246183,0.254342,0.004001,0.637936,0.301020,0.053901,0.039669,0.032517,0.015823,0.175577,0.050822,0.028985,0.016160,0.008000,0.100936,0.017576,0.036281,0.140846,0.625918,0.617528,0.602278,0.287799,0.640295,0.132537
reading_remarque,0.015120,0.079059,0.353381,0.041611,1.000000,0.073365,0.004642,0.000700,0.004213,0.013501,0.060076,0.031924,0.017448,0.352796,0.043687,0.042179,0.014721,0.010962,0.041390,0.025036,0.313978,0.009466,0.000825,0.200867,0.020199,0.158792,0.016271,0.056819,0.022509,0.030098
counter_coefficient,0.006118,0.001381,0.060954,0.021782,0.073365,1.000000,0.004173,0.004184,0.001115,0.006189,0.079484,0.003915,0.007946,0.005540,0.005919,0.036562,0.001648,0.001820,0.000146,0.005635,0.004846,0.006613,0.008144,0.003051,0.016859,0.006797,0.006115,0.072666,0.010949,0.001325
old_index,0.050776,0.084099,0.001459,0.246183,0.004642,0.004173,1.000000,0.992700,0.000672,0.058521,0.414057,0.067476,0.100390,0.023142,0.041799,0.351935,0.081090,0.040202,0.000856,0.002732,0.170328,0.014830,0.017145,0.196901,0.051705,0.049832,0.043737,0.309428,0.117357,0.189940
new_index,0.052514,0.083078,0.001408,0.254342,0.000700,0.004184,0.992700,1.000000,0.098696,0.060562,0.450081,0.069713,0.102980,0.021188,0.041354,0.360987,0.082887,0.040142,0.000606,0.003324,0.163089,0.015365,0.018990,0.189039,0.053454,0.053035,0.045994,0.342559,0.121620,0.262620
months_number,0.018767,0.001905,0.000755,0.004001,0.004213,0.001115,0.000672,0.098696,1.000000,0.014729,0.033041,0.011466,0.017776,0.001565,0.006705,0.066301,0.002369,0.000881,0.001596,0.003198,0.004819,0.001787,0.009210,0.005095,0.018517,0.015316,0.014609,0.019751,0.005839,0.807627
counter_type,0.995818,0.148446,0.002390,0.637936,0.013501,0.006189,0.058521,0.060562,0.014729,1.000000,0.098590,0.033292,0.019969,0.095909,0.149229,0.019394,0.115491,0.053799,0.004784,0.015567,0.015746,0.000793,0.017476,0.069448,0.995612,0.958394,0.974924,0.101768,0.973438,0.032207
tconsumption,0.095235,0.020050,0.001189,0.301020,0.060076,0.079484,0.414057,0.450081,0.033041,0.098590,1.000000,0.049238,0.070556,0.004582,0.003653,0.231974,0.081641,0.019481,0.000590,0.006300,0.036428,0.011894,0.029729,0.042303,0.097645,0.114450,0.092979,0.910119,0.132703,0.425128
iday,0.034202,0.008787,0.005371,0.053901,0.031924,0.003915,0.067476,0.069713,0.011466,0.033292,0.049238,1.000000,0.122510,0.042399,0.089489,0.131565,0.087916,0.020637,0.015046,0.002163,0.060581,0.147968,0.002102,0.052175,0.034068,0.017022,0.033835,0.024095,0.007788,0.027238
imonth,0.023232,0.019831,0.007439,0.039669,0.017448,0.007946,0.100390,0.102980,0.017776,0.019969,0.070556,0.122510,1.000000,0.025312,0.019027,0.176333,0.062211,0.015813,0.005285,0.002403,0.039500,0.017005,0.138816,0.035237,0.022952,0.017427,0.025480,0.037757,0.011763,0.041905
iyear,0.092891,0.210224,0.009112,0.032517,0.352796,0.005540,0.023142,0.021188,0.001565,0.095909,0.004582,0.042399,0.025312,1.000000,0.089252,0.040472,0.050983,0.034759,0.060776,0.046512,0.607156,0.027628,0.009635,0.222336,0.093085,0.055316,0.091666,0.005616,0.084328,0.002073
disrict,0.150600,0.016110,0.002843,0.015823,0.043687,0.005919,0.041799,0.041354,0.006705,0.149229,0.003653,0.089489,0.019027,0.089252,1.000000,0.032836,0.313309,0.050749,0.013777,0.020293,0.136641,0.003238,0.001590,0.121013,0.150817,0.118588,0.153223,0.012477,0.141328,0.003405
client_catg,0.013977,0.007702,0.000314,0.175577,0.042179,0.036562,0.351935,0.360987,0.066301,0.019394,0.231974,0.131565,0.176333,0.040472,0.032836,1.000000,0.041427,0.054745,0.003059,0.010913,0.054041,0.037738,0.035793,0.045157,0.015199,0.030407,0.011831,0.018076,0.211623,0.144809
region,0.112253,0.048258,0.002749,0.050822,0.014721,0.001648,0.081090,0.082887,0.002369,0.115491,0.081641,0.087916,0.062211,0.050983,0.313309,0.041427,1.000000,0.010940,0.062677,0.015538,0.005410,0.003192,0.010838,0.033285,0.112078,0.109474,0.099936,0.080910,0.102586,0.036453
target,0.054411,0.018917,0.000665,0.028985,0.010962,0.001820,0.040202,0.040142,0.000881,0.053799,0.019481,0.020637,0.015813,0.034759,0.050749,0.054745,0.010940,1.000000,0.006551,0.001626,0.052094,0.001044,0.007243,0.082087,0.054463,0.043112,0.057564,0.015553,0.040575,0.008680
cday,0.005001,0.022186,0.000786,0.016160,0.041390,0.000146,0.000856,0.000606,0.001596,0.004784,0.000590,0.015046,0.005285,0.060776,0.013777,0.003059,0.062677,0.006551,1.000000,0.054963,0.081470,0.251511,0.067270,0.068200,0.004994,0.022174,0.006220,0.000620,0.005674,0.001243
cmonth,0.015431,0.029560,0.002926,0.008000,0.025036,0.005635,0.002732,0.003324,0.003198,0.015567,0.006300,0.002163,0.002403,0.046512,0.020293,0.010913,0.015538,0.001626,0.054963,1.000000,0.084888,0.031590,0.260412,0.079850,0.015351,0.026076,0.015503,0.010903,0.017098,0.002994
cyear,0.017553,0.226908,0.004737,0.100936,0.313978,0.004846,0.170328,0.163089,0.004819,0.015746,0.036428,0.060581,0.039500,0.607156,0.136641,0.054041,0.005410,0.052094,0.081470,0.084888,1.000000,0.017748,0.006367,0.909687,0.017453,0.143216,0.029356,0.025799,0.026098,0.023118
value_day,0.000156,0.002312,0.001048,0.017576,0.009466,0.006613,0.014830,0.015365,0.001787,0.000793,0.011894,0.147968,0.017005,0.027628,0.003238,0.037738,0.003192,0.001044,0.251511,0.031590,0.017748,1.000000,0.021795,0.036218,0.000073,0.006129,0.000951,0.004046,0.007519,0.004253
value_month,0.016973,0.024683,0.007398,0.036281,0.000825,0.008144,0.017145,0.018990,0.009210,0.017476,0.029729,0.002102,0.138816,0.009635,0.001590,0.035793,0.010838,0.007243,0.067270,0.260412,0.006367,0.021795,1.000000,0.012848,0.017117,0.015888,0.017191,0.026490,0.024157,0.018900
value_year,0.070088,0.168546,0.001051,0.140846,0.200867,0.003051,0.196901,0.189039,0.005095,0.069448,0.042303,0.052175,0.035237,0.222336,0.121013,0.045157,0.033285,0.082087,0.068200,0.079850,0.909687,0.036218,0.012848,1.000000,0.070067,0.146817,0.083930,0.034592,0.076097,0.027283
tcoef,0.999777,0.147692,0.005916,0.625918,0.020199,0.016859,0.051705,0.053454,0.018517,0.995612,0.097645,0.034068,0.022952,0.093085,0.150817,0.015199,0.112078,0.054463,0.004994,0.015351,0.017453,0.000073,0.017117,0.070067,1.000000,0.963685,0.988814,0.100433,0.975685,0.027948
tread,0.963754,0.163100,0.006220,0.617528,0.158792,0.006797,0.049832,0.053035,0.015316,0.958394,0.114450,0.017022,0.017427,0.055316,0.118588,0.030407,0.109474,0.043112,0.022174,0.026076,0.143216,0.006129,0.015888,0.146817,0.963685,1.000000,0.952437,0.117275,0.944126,0.038902
ttype,0.989035,0.148116,0.002376,0.602278,0.016271,0.006115,0.043737,0.045994,0.014609,0.974924,0.092979,0.033835,0.025480,0.091666,0.153223,0.011831,0.099936,0.057564,0.006220,0.015503,0.029356,0.000951,0.017191,0.083930,0.988814,0.952437,1.000000,0.096566,0.964608,0.029861
concli,0.098889,0.021978,0.001316,0.287799,0.056819,0.072666,0.309428,0.342559,0.019751,0.101768,0.910119,0.024095,0.037757,0.005616,0.012477,0.018076,0.080910,0.015553,0.000620,0.010903,0.025799,0.004046,0.026490,0.034592,0.100433,0.117275,0.096566,1.000000,0.099619,0.385052
tcli,0.975679,0.142955,0.002270,0.640295,0.022509,0.010949,0.117357,0.121620,0.005839,0.973438,0.132703,0.007788,0.011763,0.084328,0.141328,0.211623,0.102586,0.040575,0.005674,0.017098,0.026098,0.007519,0.024157,0.076097,0.975685,0.944126,0.964608,0.099619,1.000000,0.061882
indiff,0.027612,0.009769,0.000106,0.132537,0.030098,0.001325,0.189940,0.262620,0.807627,0.032207,0.425128,0.027238,0.041905,0.002073,0.003405,0.144809,0.036453,0.008680,0.001243,0.002994,0.023118,0.004253,0.018900,0.027283,0.027948,0.038902,0.029861,0.385052,0.061882,1.000000

In [268]:
X = candi_train.drop(['target','client_id','counter_statue','months_number','counter_coefficient','cday','cmonth','value_day','value_month','tcoef','indiff'],axis=1)
y = candi_train['target']

In [269]:
from sklearn.model_selection import train_test_split

In [270]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [271]:
from sklearn.ensemble import RandomForestClassifier

In [272]:
rfc = RandomForestClassifier(n_estimators=1000,max_depth=None,min_samples_split=10,max_leaf_nodes=20)

In [273]:
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=20, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [274]:
from sklearn.metrics import accuracy_score

In [275]:
rfcpred = rfc.predict(X_test)
rfcprob = rfc.predict_proba(X_test)[:,1]

In [276]:
rfcprob

array([0.05828231, 0.06385309, 0.05632938, ..., 0.11107611, 0.0252068 ,
       0.07412415])

In [277]:
error = 1 - accuracy_score(y_test,rfcpred)
error

0.05510726234993113

In [278]:
from sklearn.metrics import roc_auc_score

In [279]:
_auc = roc_auc_score(y_test, rfcprob)
print(_auc)

0.8047884032874112

In [280]:
candi_test.head()

,client_id,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,old_index,new_index,months_number,counter_type,tconsumption,iday,imonth,iyear,disrict,client_catg,region,cday,cmonth,cyear,value_day,value_month,value_year,tcoef,tread,ttype,concli,tcli,indiff
0,test_Client_0,11.000000,6.512080e+05,0.000000,203.000000,6.810811,1.0,11389.837838,11881.216216,4.378378,1.000000,491.378378,19.297297,6.837838,2011.648649,62,11,307,28,5,2002,8.702703,1.837838,9.648649,11.000000,1.615079,11.000000,44.670762,1.000000,1582.323552
1,test_Client_1,11.000000,1.747600e+05,0.045455,433.000000,7.636364,1.0,29380.772727,32083.954545,4.545455,1.000000,2703.181818,8.545455,6.181818,2014.136364,69,11,103,8,6,2009,0.545455,0.181818,5.136364,11.000000,1.440476,11.000000,245.743802,1.000000,14492.475430
2,test_Client_10,23.540541,3.468089e+06,0.000000,119.648649,7.459459,1.0,11774.054054,12381.364865,4.000000,1.432432,607.310811,19.486486,7.986486,2012.891892,62,11,310,4,7,2004,15.486486,0.986486,8.891892,23.540541,3.155797,16.433962,55.210074,2.140049,21935.445946
3,test_Client_100,25.500000,5.866505e+05,0.000000,104.000000,6.575000,1.0,13623.725000,13868.075000,3.900000,1.500000,244.350000,13.350000,5.700000,2008.450000,60,11,101,10,8,1992,3.350000,2.300000,16.450000,25.500000,3.878327,17.000000,22.213636,2.318182,13528.375000
4,test_Client_1000,20.849057,1.614115e+06,0.094340,135.754717,7.905660,1.0,13927.471698,14676.584906,4.528302,1.339623,746.924528,12.207547,7.320755,2012.622642,62,11,301,21,7,1977,8.792453,0.320755,35.622642,20.849057,2.637232,15.563380,67.902230,1.895369,6104.400270

In [281]:
test = candi_test.drop(['client_id','counter_statue','months_number','counter_coefficient','cday','cmonth','value_day','value_month','tcoef','indiff'],axis=1)

In [282]:
test.head()

,tarif_type,counter_number,counter_code,reading_remarque,old_index,new_index,counter_type,tconsumption,iday,imonth,iyear,disrict,client_catg,region,cyear,value_year,tread,ttype,concli,tcli
0,11.000000,6.512080e+05,203.000000,6.810811,11389.837838,11881.216216,1.000000,491.378378,19.297297,6.837838,2011.648649,62,11,307,2002,9.648649,1.615079,11.000000,44.670762,1.000000
1,11.000000,1.747600e+05,433.000000,7.636364,29380.772727,32083.954545,1.000000,2703.181818,8.545455,6.181818,2014.136364,69,11,103,2009,5.136364,1.440476,11.000000,245.743802,1.000000
2,23.540541,3.468089e+06,119.648649,7.459459,11774.054054,12381.364865,1.432432,607.310811,19.486486,7.986486,2012.891892,62,11,310,2004,8.891892,3.155797,16.433962,55.210074,2.140049
3,25.500000,5.866505e+05,104.000000,6.575000,13623.725000,13868.075000,1.500000,244.350000,13.350000,5.700000,2008.450000,60,11,101,1992,16.450000,3.878327,17.000000,22.213636,2.318182
4,20.849057,1.614115e+06,135.754717,7.905660,13927.471698,14676.584906,1.339623,746.924528,12.207547,7.320755,2012.622642,62,11,301,1977,35.622642,2.637232,15.563380,67.902230,1.895369

In [283]:
test_prob = rfc.predict_proba(test)[:,1]

In [284]:
ss = pd.read_csv('SampleSubmission.csv')

In [285]:
ss.head()

          client_id    target
0     test_Client_0  0.957281
1     test_Client_1  0.996425
2    test_Client_10  0.612359
3   test_Client_100  0.776933
4  test_Client_1000  0.571046

In [286]:
ss.target = test_prob

In [287]:
ss.head()

          client_id    target
0     test_Client_0  0.055164
1     test_Client_1  0.117686
2    test_Client_10  0.060504
3   test_Client_100  0.022356
4  test_Client_1000  0.063782

In [288]:
ss.to_csv('8.csv',index=False)